# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# R
.Rhistory
.RData
.Ruserdata

# Output files

# LaTeX
*.aux
*.log
*.fdb_latexmk
*.fls
*.synctex.gz

# OS
.DS_Store
Thumbs.db
